.ulRuleSelection {
    display: none;
}

.keysNavigation-focus,
#counter_listing>tr.keysNavigation-focus:hover,
.tabulator-tbl .tabulator-row.keysNavigation-focus,
.tabulator-tbl .tabulator-row.keysNavigation-focus>.tabulator-cell,
.tabulator-tbl .tabulator-row.keysNavigation-focus:hover,
.tabulator-tbl .tabulator-row.keysNavigation-focus:hover>.tabulator-cell,
.ncn_tr_hover.keysNavigation-focus:hover,
.crypto-quote-table .tabulator-row.keysNavigation-focus,
.crypto-quote-table .tabulator-row.keysNavigation-focus:hover {
    background-color: #d6e9ff !important;
}

.custom-scrollbar-css::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tabulator .tabulator-header {
    background-color: transparent;
}