/* Last modified by : 2021-05-11 19:36:22.0 */

:root,
html[cnx-theme='light'] {
    --theme_color00: white;
    --theme_color01: black;
    --theme_color02: grey;
    --theme_color03: silver;
    --theme_color04: darkgrey;
    --theme_color05: #F2F2F2;
    --theme_color06: pink;
    --theme_color07: #D1FEDA;
    --theme_color08: #C6FBFB;
    --theme_color09: rgb(35, 131, 243);
    --theme_color10: rgb(236, 240, 249);
    --theme_color11: rgb(243, 255, 255);
    --theme_color12: #f6f7fd;
    --theme_color13: #1266f1;
    --theme_color14: #f6f7fd;
    --theme_color15: #E0E0E0;
    --theme_color16: #e6e6e6;
    --theme_color17: #FCE285;
    --theme_color18: #505050;
    --theme_color19: #E6E6E6;
    --theme_color20: #f6f7fd;
    --theme_color21: #FFFFFF;
    --theme_color22: #CFE1F9;
    --theme_color23: #D5D5D5;
    --theme_color24: #FFFFFF;
    --theme_color25: #1266f1;
    --theme_color26: black;
    --theme_color27: #FFFFFF;
    --theme_color28: #FFFFFF;
    --theme_color29: #E8F0FE;
    --theme_color30: black;
    --theme_color31: #D12A26;
    --theme_color32: #E0E1E2;
    --theme_color33: white;
    --theme_color34: #f2f2f2;
    --theme_color35: #4c4c4c;
    --theme_color36: #D12A26;
    --theme_color37: #FFFFFF;
    --theme_color38: lightgray;
    --theme_color39: #f4f4f4;
    --theme_color40: #80cbbb;
    --theme_color41: #d7ca6b;
    --theme_color42: #dfa881;
    --theme_color43: #c9e8e0;
    --theme_color44: #45b093;
    --theme_color45: #f1f1d2;
    --theme_color46: #a6955d;
    --theme_color47: #e6deee;
    --theme_color48: #b370af;
    --theme_color49: #f7ebed;
    --theme_color50: #c67890;
    --theme_color51: #eaeaea;
    --theme_color52: #909090;
    --theme_color53: #4068b1;
    --theme_color54: #e5e5e5;
    --note_color1: #F4F3D9;
    --note_color2: #E2EDE7;
    --note_color3: #ECF0F9;
    --note_color4: #F7ECEB;
    --note_color5: #ffe0bf;
    --note_color6: #F5E8DA;
    --vi_color1: silver;
    --vi_color2: #f4dece;
    --vi_color3: #f7c8c9;
    --vi_color4: #D7F4D7;
    --vi_color5: #bfe9db;
    --positive_color01: #20A05C;
    --negative_color01: #D12A26;
    --positive_background_color01: #D1FEDA;
    --negative_background_color01: #f4e9e9;
    --button_color01: green;
    --button_color02: red;
    --button_color03: #42a5f5;
    --button_color04: #FFFFFF;
    --legend_background_color01: rgba(255, 255, 255, 0.5);
    --legend_background_color02: rgba(255, 255, 255, 0.75);
    --blink_color: #FCE285;
    --hover_color: #f6f7fd;
    --dropdown_color: #ffffff;
}

html[cnx-theme='dark'] {
    --theme_color00: rgba(2, 8, 25);
    --theme_color01: #B3BAC9;
    --theme_color02: #D1D4DC;
    --theme_color03: silver;
    --theme_color04: darkgrey;
    --theme_color05: black;
    --theme_color06: pink;
    --theme_color07: rgb(92, 123, 89);
    --theme_color08: #C6FBFB;
    --theme_color09: rgb(35, 131, 243);
    --theme_color10: rgb(236, 240, 249);
    --theme_color11: rgb(243, 255, 255);
    --theme_color12: rgb(46, 63, 126);
    --theme_color13: #1266f1;
    --theme_color14: rgba(23, 32, 40);
    --theme_color15: rgba(80, 86, 90);
    --theme_color16: rgba(68, 68, 68);
    --theme_color18: #B3BAC9;
    --theme_color19: #2d3040;
    --theme_color20: #2d3040;
    --theme_color21: #2d3040;
    --theme_color22: #293D5B;
    --theme_color23: #293D5B;
    --theme_color24: #2d3040;
    --theme_color25: #3F414C;
    --theme_color26: #FFFFFF;
    --theme_color27: black;
    --theme_color28: #20242D;
    --theme_color29: #2d3040;
    --theme_color30: black;
    --theme_color31: #FC5454;
    --theme_color32: #343D44;
    --theme_color33: black;
    --theme_color34: rgba(23, 32, 40);
    --theme_color35: #D1D4DC;
    --theme_color36: #FC5454;
    --theme_color37: rgba(2, 8, 25);
    --theme_color38: #252e3a;
    --theme_color39: #252e3a;
    --theme_color40: #486d63;
    --theme_color41: #8c8049;
    --theme_color42: #82604f;
    --theme_color43: #45b093;
    --theme_color44: #c9e8e0;
    --theme_color45: #a6955d;
    --theme_color46: #f1f1d2;
    --theme_color47: #b370af;
    --theme_color48: #e6deee;
    --theme_color49: #c67890;
    --theme_color50: #f7ebed;
    --theme_color51: #909090;
    --theme_color52: #eaeaea;
    --theme_color53: #1266f1;
    --theme_color54: #252e3a;
    --note_color1: #283942;
    --note_color2: #36412D;
    --note_color3: #294038;
    --note_color4: #2B3E47;
    --note_color5: #433848;
    --note_color6: #453D31;
    --vi_color1: #4D4D4D;
    --vi_color2: #8D5E3C;
    --vi_color3: #8B4E53;
    --vi_color4: #699063;
    --vi_color5: #41734A;
    --positive_color01: #04B976;
    --negative_color01: #FC5454;
    --positive_background_color01: #113A24;
    --negative_background_color01: #351116;
    --button_color01: green;
    --button_color02: red;
    --button_color03: #42a5f5;
    --button_color04: #3F414C;
    --legend_background_color01: rgba(23, 32, 40, 0.3);
    --legend_background_color02: rgba(23, 32, 40, 0.5);
    --blink_color: rgba(71, 71, 160);
    --hover_color: #2E3192;
    --dropdown_color: #000000;
}